extends html
include _common

block navigation
	- for ns in namespaces
		- if (ns.classes.length)
			h5: a(href=level + ns.url) #{ns.name}
			ul.nav		
				- for klass in ns.classes
					- if (!klass.builtin)
						li: a(href=level + klass.url) #{klass.name}

block content
	div.page-header
		h1 #{klass.name}

	dl.dl-horizontal
		dt Namespace
		dd
			- if (klass.namespace.length) 
				- var nspath = []
				- each ns in klass.namespace
					- if (nspath.length)
						| .
						
					- nspath.push(ns)
					a(href=level + nspath.join('/') +'/index.html') #{ns}
	
	dl.dl-horizontal
		dt Inheritance
		dd
			| #{klass.name}
			
			- var parent = klass.extends
			- while (parent)
				|  &rarr; 
				
				- if (typeof(parent) == 'object')
					a(href=level + parent.url) #{parent.name}
					
				- else
					| #{parent}

				- parent = parent.extends

	- if (subclasses.length)
		dl.dl-horizontal
			dt Subclasses
			dd
				- var i = 0
					- each k in subclasses
						- if (i++ > 0)
							| , 
						
						a(href=level + k.url) #{k.name}
	
	- if (klass.script)
		dl.dl-horizontal
			dt Source
			dd #{klass.script.name}
				- if (klass.line)
					span.text-muted , line #{klass.line}
	
	- if (klass.version)
		dl.dl-horizontal
			dt Version
			dd #{klass.version}
	
	div.well
		- if (klass.description)
			!= md(klass.description)
		
		- else
			p: em.text-muted This class has no description.

	- if (klass.public.hasOwnProperty('constructor'))
		h3 Constructor
		ul.nav.constructor
			mixin method(klass.public.constructor, klass)
			- delete klass.public.constructor
	
	- if (Object.keys(klass.properties).length)
		h3 Properties
		mixin properties(klass.properties)
	
	- if (Object.keys(klass.public).length)
		h3 Public Methods
		mixin methods(klass.public, klass)
	
	- if (Object.keys(klass.static).length)
		h3 Static Methods
		mixin methods(klass.static, klass)
	
	- if (Object.keys(klass.events).length)
		h3 Events
		mixin events(klass.events)